@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  padding: 16px;
  row-gap: 15px;
}

.dropbtn {
  padding: 16px;
  color: #414141;
  font-size: 14px;
  border: 1px solid #bcbcbc;
  cursor: pointer;
  border-radius: 2px;
  background-color: white;
}

.dropbtn:hover {
  border: 1px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.ABILITIES {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex-direction: row;
  column-gap: 45px;
}

#my-cards {
  max-width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: 16px;
}

.card {
  max-width: 40%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-stats {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.65);
  width: 90%;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 22px;
  line-height: 25px;
}

.card-fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.card-water {
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

.card-eletric {
  background: linear-gradient(to bottom right, #fdbb2d 0%, #ff0 100%);
}

.card-flying {
  background: linear-gradient(110deg, red 0%, white 100%);
}

.card-poison {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.card-psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}

.card img {
  width: 50%;
  height: auto;
  padding: 25px;
}

.card-type {
  color: #ddd;
  display: flex;
  padding: 0px 10px;
  background-color: black;
  border-radius: 6px;
  line-height: 36px;
  align-self: end;
  position: relative;
  top: -30px;
  right: 10px;
}

.card h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}

.card p {
  font-size: 0.7em;
  color: black;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}

.card span {
  color: black;
  font-weight: 700;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}