@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
  box-sizing: border-box;
}
:root {
  --COLOR1: white;
  --FONT-WEIGHT-1: 300;
  --FONT-WEIGHT-2: 700;
  --SIXTEEN-PX: 16px;
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 10px;
  padding: var(--SIXTEEN-PX);
  row-gap: var(--SIXTEEN-PX);
}

.dropdown {
  position: relative;
  width: 212px;
  height: 32px;
  line-height: 32px;
  color: #414141;
  font-size: 14px;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .option {
  padding: 0px 10px;
  cursor: pointer;
}

.dropdown-content .option:hover {
  background-color: #414141;
  color: white;
}

.dropdown-content--show {
 display: block;
}

.dropdown-content--hide {
  max-height: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: none;
}

#my-cards {
  max-width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: var(--SIXTEEN-PX);
}

.card {
  max-width: 500px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-stats {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.65);
  width: 90%;
  align-items: center;
  padding: var(--SIXTEEN-PX);
  margin-bottom: 20px;
  font-weight: var(--FONT-WEIGHT-1);
  font-size: 22px;
  line-height: 26px;
}

.stat-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: var(--SIXTEEN-PX);
}

.stat-label,
.stat-value {
  width: 50%;
}

.stat-label {
  display: flex;
  justify-content: flex-end;
}

.stat-value {
  font-weight: var(--FONT-WEIGHT-2);
}

.ABILITIES {
  display: flex;
  justify-content: space-evenly;
  padding: var(--SIXTEEN-PX);
  flex-direction: row;
  column-gap: 45px;
  width: 100%;
}

.ABILITIES p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card img {
  width: 50%;
  height: auto;
  padding: 26px;
}

.card-type {
  color: #ddd;
  display: flex;
  padding: 0px 10px;
  background-color: black;
  border-radius: 6px;
  line-height: 36px;
  align-self: end;
  position: relative;
  top: -30px;
  right: 10px;
  margin-bottom: 0;
}

.card h2 {
  font-size: 0.7em;
  font-weight: var(--FONT-WEIGHT-2);
}

.card p {
  font-size: 0.7em;
}

.card-fire {
  background: linear-gradient(0deg, #c71800 10%, #fcc245 100%);
}

.card-water {
  background: linear-gradient(120deg, #1cb5e0 0%, #000851 100%);
}

.card-eletric {
  background: linear-gradient(to bottom right, #fdbb2d 0%, #ff0 100%);
}

.card-flying {
  background: linear-gradient(110deg, red 0%, white 100%);
}

.card-poison {
  background: linear-gradient(20deg, #191919 0%, #100b32 33%, #5c0249 100%);
}

.card-psychic {
  background: linear-gradient(140deg, #ffa7f9 0%, #ff2cc3 39%, #ffe3a7 100%);
}
