@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 10px;
  padding: 16px;
}

#my-cards {
  max-width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: 16px;
}

.card {
  max-width: 40%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.7em;
  row-gap: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to bottom right, #fdbb2d 0%, #ff0 100%);
}

.card img {
  width: 30%;
  height: auto;
}

.card h2 {
  font-size: 1em;
  color: black;
}

.card p {
  font-size: 0.7em;
  color: black;
}
